/* ESTILOS */

.form-group{
  
    border-radius: 5px;
    left: 100px

}
.great-container{
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 50px 50px 50px 50px;
    height: auto;
}

.container-gral{
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : center;
    margin          : 10px;
}
  
.div-row{
    display: flex;
    flex-direction: row;
}
  
.div-col{
    display: flex;
    flex-direction: column;
}

.space-box{
    justify-content: space-between;
}

.caja1{
    display: flex;
    width: 80%;
    margin-right: 50px;
}
.caja2{
    display: flex;
    width: 80%;
    margin-left: 50px;
}
.cantidad{
    display: block;
    left: 100px;
}

.product-img-mini-cart{
    width: 100%;
    height: 85px;
    margin: 5% auto 5% auto;
}

.font-title-cart{
    font-weight: bold;
    font-size: var(--font-size-title);
    text-align: left;
}

.mini-gallery {
    justify-content: center;
    align-items: center;
}

.center-add{
    justify-content: center;
    text-align: center;
}

.input-add{
    width: 45px;
}

.card-pers {
    border: solid 2px lightgray;
    height: auto;
    width: 100%;
}

/* MEDIA QUERYS */

@media (max-width: 600px) {
    .great-container{
        border-radius: 5px;
        border: 1px solid gray;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin: 50px 50px 5px 50px;
        height: auto;
      }
    
    .container-gral{
        display         : flex;
        flex-direction  : row;
        flex-wrap       : wrap;
        justify-content : center;
        margin          : 50px;
    }
      
    .div-row{
        display: flex;
        flex-direction: row;
    }
      
    .div-col{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 425px) {
    .great-container{
        border-radius: 5px;
        border: 1px solid gray;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin: 50px 50px 5px 50px;
        height: auto;
      }
    
    .container-gral{
        display         : flex;
        flex-direction  : row;
        flex-wrap       : wrap;
        justify-content : center;
        margin          : 50px;
    }
      
    .div-row{
        display: flex;
        flex-direction: row;
    }
      
    .div-col{
        display: flex;
        flex-direction: column;
    }
}