/* ESTILOS */


.great-container{
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 50px 50px 50px 50px;
    height: auto;
}

.container-gral{
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    margin          : 10px;
}
.cantidad{
    display: flex;
    height: 5px;
    flex-direction: row;
}
  
.div-row{
    display: flex;
    flex-direction: row;
}
  
.div-col{
    
    flex-direction: column;
    padding: 10px;
}

.space-box{
    justify-content: flex-end;
}

.caja1{
    display: flex;
    width: 100%;
    margin-right: 25px;
    margin-left: 25px;
    padding: 20px;
}
.caja2{
    margin-left:100px;
    width: 100%;
   
}
.cantidad{
    height: 40px;
    
}

.product-img-mini-cart{
    width: 100%;
    height: 100%;
    margin: 5% auto auto auto;
}
.precio{
    right: 100px;
    font-weight: bold;
    text-align: center;
    right: 100px;
    font-size: 20px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.font-title-cart{
    font-weight: bold;
    text-align: center;
    right: 100px;
    font-size: 20px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.mini-gallery {
    justify-content: center;
    align-items: center;
}

.center-add{
    justify-content: center;
    text-align: center;
}

.input-add{
    width: 45px;
}

.card-pers {
    border: solid 2px lightgray;
    height: auto;
    width: 100%;
}


/* MEDIA QUERYS */

@media (max-width: 600px) {
    .great-container{
        border-radius: 5px;
        border: 1px solid gray;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin: 50px 50px 5px 50px;
        height: auto;
      }
    
    .container-gral{
        display         : flex;
        flex-direction  : row;
        flex-wrap       : wrap;
        justify-content : center;
        margin          : 50px;
    }
      
    .div-row{
        display: flex;
        flex-direction: row;
    }
    .buttonA{
        width: 5px;
    }
      
    .div-col{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 425px) {
    .great-container{
        border-radius: 5px;
        border: 1px solid gray;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin: 50px 50px 5px 50px;
        height: auto;
      }
    
    .container-gral{
        display         : flex;
        flex-direction  : row;
        flex-wrap       : wrap;
        justify-content : center;
        margin          : 50px;
    }
      
    .div-row{
        display: flex;
        flex-direction: row;
    }
      
    .div-col{
        display: flex;
        flex-direction: column;
    }
}