<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {tittle: tittle} ); %>
    <link rel="stylesheet" href="/css/backoffice/connect/connect-styles.css">
</head>
<body>
    
    <div class="connect">
        <main class="bgwhite">
            <div class="logo-big-connect">
                <img src="/img/chairlogo.svg" alt="" class="logo-img">
            </div>
            <div class="form-connect">
                <form action="/admin/" method="POST">
                    <div class="form-up">
                        <label for="userAdmin" class="form-label">Usuario</label>
                        <input type="text" name="userAdmin" placeholder="Usuario" class="form-input"
                        pattern="[A-Za-z0-9_]{5,10}" title="5 caracteres como mínimo, 10 máximo, sin espacios" required>
                    </div>
                    <div class="form-up">
                        <label for="passAdmin" class="form-label">Contraseña</label>
                        <input type="password" name="passAdmin" placeholder="Contraseña" class="form-input"
                        required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                        title="Debe contener al menos un número, una letra mayúscula, minúscula, y al menos 8 o más caracteres">
                    </div>
                    <div class="form-button">
                        <button type="submit" class="button-blue" >Conectarse
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </div>

</body>
</html>