<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div class="main">
        <%- include('../partials/topbar', {tittle: tittle});  %> 
        <div class="mid-main">
            <%- include('../partials/leftbar');  %> 
            <div class="right-main">
                
            </div>
        </div>
        <%- include('../partials/footer');  %> 
    </div>
</body>
</html>