<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {tittle: tittle} ); %>
        <link rel="stylesheet" href="/css/product/product-styles.css">
    </head>
    <body>
    <header>
        <%- include('../partials/navigation'); %>
    </header>
        
    <div class="bgmain">
        <div class="container-gral">
            <div class="div-row">
                <div class="div-col">
                    <div class="div-row">
                        <div class="div-col card-pers">
                            <div class="div-row">
                                <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                            </div>
                            <hr />
                            <div class="div-row pb-3 mini-gallery">
                                <div class="div-col">
                                    <img src="/img/chair.svg" class="card-img-top img-fluid product-img-mini-gallery" alt="..." />
                                </div>
                                <div class="div-col">
                                    <img src="/img/chair.svg" class="card-img-top img-fluid product-img-mini-gallery" alt="..." />
                                </div>
                                <div class="div-col">
                                    <img src="/img/chair.svg" class="card-img-top img-fluid product-img-mini-gallery" alt="..." />
                                </div>
                                <div class="div-col">
                                    <img src="/img/chair.svg" class="card-img-top img-fluid product-img-mini-gallery" alt="..." />
                                </div>
                            </div>
                        </div>
                        <div class="div-col py-4">
                            <div class="font-title mb-2">
                                TITULO
                            </div>
                            <div class="font-txt mb-4">
                                texto
                            </div>
                            <div class="font-title mb-2">
                                titulito
                            </div>
                            <div class="font-txt mb-4">
                                texto
                            </div>
                            <div class="font-title mb-2">
                                titulito
                            </div>
                            <div class="font-txt mb-4">
                                texto
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>