<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {tittle: tittle} ); %>
        <link rel="stylesheet" href="/css/product/product-styles.css">
    </head>
    <body>
        <header>
            <%- include('../partials/navigation'); %>
        </header>
        
        <div class="products">
            <%- include('./optionsProducts'); %>
            <div class="product-products">
                <div class="all-products">
                    <div class="all-products-top">
                        <div>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb bg-white">
                                    <li class="breadcrumb-item"><a href="#">Oficina</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Sillas</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="btn-options">
                            <a href="#">
                                <i class="fas fa-sliders-h"></i>
                            </a>
                        </div>
                    </div>
                    <div class="all-products-bot">
                        <% for( let i=0; i<7; i++ ) { %>
                            <article>
                                <div class="product-card">
                                    <div class="product-logo">
                                        <a href="">
                                            <img src="/img/chair.svg" alt="" class="product-img-card">
                                        </a>
                                    </div>
                                    <div class="product-desc">
                                        <div class="product-tittle">
                                            Silla
                                        </div>
                                        <div class="product-description">
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit!
                                        </div>
                                        <div class="product-bottom">
                                            <div class="product-price">
                                                $99.99
                                            </div>
                                            <div class="product-buttom btn-group">
                                                <a href="#" class="btn btn-outline-primary">
                                                    <i class="fas fa-cart-plus icon-nice-blue"></i>
                                                </a>
                                                <a href="/products/detailProduct" class="btn btn-outline-primary">
                                                    <i class="fas fa-external-link-square-alt icon-nice-blue" ></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>