<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {tittle: tittle} ); %>
        <link rel="stylesheet" href="/css/product/product-styles.css">
    </head>
    <body>
        <header>
            <%- include('../partials/navigation'); %>
        </header>
        
        <div class="products bgmain">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <div class="products-recommended p-3">
                            <h3>Variables</h3>
                            <div class="grupo1 mb-2">
                                <div class="list-group">
                                    <h5>Madera</h5>
                                    <div class="ml-2">
                                        <div class="form-check ml-2">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                                value="option1">
                                            <label class="form-check-label" for="exampleRadios1">
                                                Default radio
                                            </label>
                                        </div>
                                        <div class="form-check ml-2">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                                value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                                Second default radio
                                            </label>
                                        </div>
                                        <div class="form-check ml-2">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                                value="option3">
                                            <label class="form-check-label" for="exampleRadios3">
                                                Disabled radio
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grupo2 mb-2">
                                <div class="list-group">
                                    <h5>Tela</h5>
                                    <div class="ml-2">
                                        <label class="ml-4 mr-4">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            First checkbox
                                        </label>
                                        <label class="ml-4 mr-4">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Second checkbox
                                        </label>
                                        <label class="ml-4 mr-4">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Third checkbox
                                        </label>
                                        <label class="ml-4 mr-4">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Fourth checkbox
                                        </label>
                                        <label class="ml-4 mr-4">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            Fifth checkbox
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="products-all p-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb bg-white border">
                                    <li class="breadcrumb-item"><a href="#">Oficina</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Sillas</li>
                                </ol>
                            </nav>
                            <div class="row row-cols-auto">
                                <div class="mb-4">
                                    <div class="card product-card">
                                        <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="Chair" />
                                        <div class="card-body">
                                            <h5 class="card-title">Silla</h5>
                                            <p class="card-text">Silla fachera de madera con tornillos de
                                                plasticos reutilizados de embases de manaos.</p>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col product-price">
                                                        <h3>$19.99</h3>
                                                    </div>
                                                    <div class="col product-button">
                                                        <a href="/products/detailProduct" class="btn btn-primary">Go</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <div class="card product-card">
                                        <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                                        <div class="card-body">
                                            <h5 class="card-title">Silla</h5>
                                            <p class="card-text">Silla fachera de madera con tornillos de
                                                plasticos reutilizados de embases de manaos.</p>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col product-price">
                                                        <h3>$19.99</h3>
                                                    </div>
                                                    <div class="col product-button">
                                                        <a href="#" class="btn btn-primary">Go</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <div class="card product-card">
                                        <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                                        <div class="card-body">
                                            <h5 class="card-title">Silla</h5>
                                            <p class="card-text">Silla fachera de madera con tornillos de
                                                plasticos reutilizados de embases de manaos.</p>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col product-price">
                                                        <h3>$19.99</h3>
                                                    </div>
                                                    <div class="col product-button">
                                                        <a href="#" class="btn btn-primary">Go</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <div class="card product-card">
                                        <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                                        <div class="card-body">
                                            <h5 class="card-title">Silla</h5>
                                            <p class="card-text">Silla fachera de madera con tornillos de
                                                plasticos reutilizados de embases de manaos.</p>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col product-price">
                                                        <h3>$19.99</h3>
                                                    </div>
                                                    <div class="col product-button">
                                                        <a href="#" class="btn btn-primary">Go</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <div class="card product-card">
                                        <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                                        <div class="card-body">
                                            <h5 class="card-title">Silla</h5>
                                            <p class="card-text">Silla fachera de madera con tornillos de
                                                plasticos reutilizados de embases de manaos.</p>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col product-price">
                                                        <h3>$19.99</h3>
                                                    </div>
                                                    <div class="col product-button">
                                                        <a href="#" class="btn btn-primary">Go</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <div class="card product-card">
                                        <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                                        <div class="card-body">
                                            <h5 class="card-title">Silla</h5>
                                            <p class="card-text">Silla fachera de madera con tornillos de
                                                plasticos reutilizados de embases de manaos.</p>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col product-price">
                                                        <h3>$19.99</h3>
                                                    </div>
                                                    <div class="col product-button">
                                                        <a href="#" class="btn btn-primary">Go</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>