/* ESTILOS */
.navbar-bg {
    background-color: #f8f9fa ;
}

/* .navbar-bg * {
    background-color: #f8f9fa ;
} */

.home-login-popup {
    margin-left: -120px;
}

.home-logged-popup {
    margin-left: -60px;
}

.text-danger {
    font-size:      15px;
    margin-bottom:  0;
    text-align:     start;
    font-weight:    bold;
}

/* MEDIA QUERYS */

@media (max-width: 990px) {
    
    .home-login-popup {
        margin-left: 0px;
    }

    .home-logged-popup {
        margin-left: 0px;
    }

    .search-bar {
      margin-top: 10px;
    }

}