/* ESTILOS */

.home {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : center;
    margin: 0;
    padding: 0;
    /* margin          : 50px; */
}

.home-room {
    width   : 450px;
    margin  : 30px;
}

.home-room-img {
    width   : 100%;
    height  : 300px;
    display : block;
}

.products-room-img {
  width     : 100%;
  height    : 85%;
  display   : block;
}

.home-room-img {
    transition: 1s;
}
.nav-item{
    transition: 1s;
}

.home-room-img:hover, .home-room-img:active {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    border: 5px ridge #66cc66;
}
.nav-item:hover{
    border: 2px inset gray;
}

/* MEDIA QUERYS */

@media (max-width: 600px) {

    .home {
        margin: 20px;
    }

    .home-room {
        width   : 300px;
        margin  : 20px;
    }

    .home-room-img {
        width   : 100%;
        height  : 200px;
        display : block;
    }
}