/* ESTLOS */
.register {
    display         : flex;
    justify-content : center;
    align-content   : center;
    padding         : 25px;
}

.form-register {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    padding         : 25px;
    border          : 1px solid black;
    border-radius   : 5px;
}

.form-label{
    display: block;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}

.form-up,
.form-up-half, 
.form-up-three {
    display         : flex;
    flex-direction  : column;
    width           : 300px;
    justify-content : center;
    align-self      : baseline;
    margin-bottom   : 15px;
    border: 3px solid transparent;
    transition: .3s ease all;
}

.form-up:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.form-up-half:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.form-up-three:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.form-compartido:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.formulario__validacion-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__validacion-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position:relative;
    right: auto;
    bottom: 1px;
    opacity: 0;
    
    
}
.formulario_mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario_mensaje-activo{
    display: block;
}

.formulario_mensaje p{
    margin: 0;
}
.formulario_mensaje-exito{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: #119200;
    display: none;
}
.formulario_mensaje-exito-activo{
display: block;
}
/*Estilos para validación*/
.form-up-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity:1;
}
.form-up-incorrecto .form-label{
    color: #bb2929;
}
.form-up-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}
.form-up-incorrecto .formulario__input{
    border: 3px solid #bb2929;
    
}
.form-up-half {
    width: 140px;
}

.form-up-three {
    width: 80px;
}

.tittle-form {
    font-weight: bold;
}

.form-compartido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-button {
    display         : flex;
    justify-content : center;
    margin-top      : 10px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    padding-left: 5px;
}

.button-blue,
.button-blue-xl {
    width           : 150px;
    height          : 50px;
    border-radius   : 10px;
    background-color: #40b6e7;
    font-size       : 15px;
    color           : white;
}

.button-blue-xl {
    width: 200px;
}

.cleanbtn {
    margin-top  : 10px !important;
    all         : unset;
    cursor      : pointer;
    color       : #40b6e7;
}

.forgetpass {
    margin-top  : 10px;
    text-align  : start;
    font-size   : 12px;
}


.little-text {
    text-align      : start;
    font-size       : 10px;
    margin-top      : -10px;
    margin-bottom   : -10px;
}

.form-checkbox {
    text-align  : start;
    margin      : 5px 0px 5px 5px;
}

.text-danger {
    font-size:      15px;
    margin-bottom:  0;
    text-align:     start;
    font-weight:    bold;
}

section.error {
    color: red;
}

/* MEDIA QUERYS */

