<div class="container-xxl" style="background-color: white;">
  <div class="card mb-4" style="max-width: 400px;">
    <div class="row g-1">
      <div class="quieneSomos">
        <h4 class="aboutus-tittle">¿Quiénes somos?</h4>
        <div>
          <p class='aboutus-text'>Somos una empresa que diseña, construye
            y opera tiendas que resuelven, íntegramente, las necesidades de mejora del hogar,
            como también de abastecimiento de productos y de servicios para empresas y profesionales.
          </p>
        </div>

        <img src="/img/living.jpg" class="aboutus-img" alt="">
      </div>

      <div class="row g-3">
        <div class="col-md-4">
        </div>
        <div class="vision">
          <h4>Nuestra Visión</h4>

          <p class='aboutus-text'>Ser la empresa líder de proyectos para el hogar y construcción
            que, mejorando la calidad de vida, sea la más querida,
            admirada y respetada por la comunidad, clientes, trabajadores y proveedores en América.</p>
        </div>
        <div class="mision">
          <h4 class="aboutus-tittle">Nuestra Misión</h4>

          <p class='aboutus-text'>Desarrollarnos con innovación y sostenibilidad,
            ofreciendo los mejores productos, servicios y asesoría, al mejor precio del mercado,
            para inspirar y construir los sueños y proyectos de nuestros clientes.</p>
        </div>
        <div class="valores">
          <h4 class="aboutus-tittle">Nuestros Valores</h4>

          <p class='aboutus-text'>Son la base que marca nuestras relaciones y la forma de hacer negocios.
            Representan aquello en lo que creemos y trazan el camino que nos permite llevar adelante nuestra misión.
            Constituyen los principios, objetivos y prioridades estratégicas sobre los cuales se construye nuestra
            empresa.</p>
        </div>

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

</div>