/* ESTILOS */

.aboutus-img {
    width: 800px; /*ancho*/
    height: 400px; /*alto*/
    margin: 7% auto 7% ;
    border-left: 5px solid rgb(255, 252, 252);
    position: relative;
    bottom: 450px;
    left: 450px;
}

.aboutus-tittle {
    text-indent:25px;
    
}

.aboutus-text {
    text-indent:25px;
    margin-left: 20px;
}
.quieneSomos{
    position: relative;
   top:300px;
}

.vision{
    position: absolute;
    
    bottom:10px;
}
.mision{
    position: absolute;
    left:450px;
    bottom: 10px;
}

.valores{
    position: absolute;
    left:900px;
    bottom:10px;
}

/* MEDIA QUERYS */