/* ESTILOS */
.fondo{
    background-color:beige;
}

.contenedor{
    margin: 65px;
    
}

.cajas-en-columna {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
}

.jc-spa-ar {
    justify-content: space-around;
}

.cajas-en-filas {
    display         : flex;
    flex-direction  : row;
    justify-content : center;
}

.h-tittle {
    text-align: center;
    font-weight: bold;
}

.p-desc {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.aboutus-img {
    margin: 7%;
}


@media (max-width: 1550px) {
    .cajas-en-filas {
        justify-content: space-between;
    }
}

@media (max-width: 1280px) {
    .cajas-en-filas {
        flex-direction  : column;
        justify-content : center;
    }

    .img-div {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1280px) {
    .w45por {
        width: 45%;
    }
    .hr {
        visibility: hidden;
    }
}

@media (min-width: 650px) {
    .aboutus-img {
        height: 400px;;
    }
}

@media (max-width: 650px) {
    .aboutus-img {
        width: 300px;
    }
}
