<div class="container-xxl" style="background-color: blue;">
    <div class="row" style="background-color: red;">
        <div class="col-6 p-2" style="background-color: aliceblue;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.9005595026233!2d-55.920243884400904!3d-27.37882081939993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9457be6b6a11d2f1%3A0x5a9258ff5b8d2a9e!2sGrido%20Helado!5e0!3m2!1ses-419!2sar!4v1653172847101!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-4 p-2" style="background-color: green;">
            CONTACTO
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3" style="float: inline-end;">
                <button type="submit">Enviar</button>
            </div>
        </div>
        <div class="col-2 p-2" style="background-color: gray;">
            <i class="fa-brands fa-facebook"></i>
        </div>
    </div>
</div>