<div class="left-main">
    <nav>
        <ul class="ullia">
            <li><a href="" class="letwhite">Mis datos</a></li>
            <li><a href="/admin/products/" class="letwhite">Mis Productos</a></li>
            <ul>
                <li><a href="/admin/products/newProduct" class="letwhite">Cargar</a></li>
                <li><a href="/admin/products/" class="letwhite">Modificar</a></li>
            </ul>
        </ul>
    </nav>
</div>