<div class="top-main">
    <div class="top-main-in">
        <div class="logo-top-main">
            <img src="/img/chairlogo.svg" alt="Logo" class="img-logo-admin">
        </div>
        <div class="tittle-top">
            <%= tittle %>
        </div>
        <div class="logout-top-main">
            <a href="/admin/connect" alt="Salir">
                <i class="fa-solid fa-person-walking-arrow-right exitbtn" alt="Salir"></i>
            </a>
        </div>
    </div>
</div>