<div class="register">
    <div class="form-register">
        <h3 class="tittle-form">Recupera tu contraseña</h3>
        <form action="/">
            <div class="form-up">
                <label for="userEmail" class="form-label">Email</label>
                <input type="email" name="userEmail" placeholder="hola@mundo.com" class="form-input" required>
            </div>
            <div class="form-button">
                <button type="submit" class="button-blue-xl" >Enviarme un correo
                    <i class="fas fa-user-cog"></i>
                </button>
            </div>
        </form>
    </div>
</div>