<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="products-recommended p-4">
                <div class="grupo1">
                    <div class="list-group">
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            First checkbox
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            Second checkbox
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            Third checkbox
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            Fourth checkbox
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            Fifth checkbox
                        </label>
                        </div>
                </div>
                <div class="grupo2">
                    <div class="list-group">
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        First checkbox
                    </label>
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        Second checkbox
                    </label>
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        Third checkbox
                    </label>
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        Fourth checkbox
                    </label>
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        Fifth checkbox
                    </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="products-all">
                <div class="row row-cols-auto">
                    <div class="m-4">
                        <div class="card product-card">
                            <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="Chair" />
                            <div class="card-body">
                                <h5 class="card-title">Silla</h5>
                                <p class="card-text">Silla fachera de madera con tornillos de
                                    plasticos reutilizados de embases de manaos.</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col product-price">
                                            <h3>$19.99</h3>
                                        </div>
                                        <div class="col product-button">
                                            <a href="/products/product" class="btn btn-primary">Go</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-4">
                        <div class="card product-card">
                            <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Silla</h5>
                                <p class="card-text">Silla fachera de madera con tornillos de
                                    plasticos reutilizados de embases de manaos.</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col product-price">
                                            <h3>$19.99</h3>
                                        </div>
                                        <div class="col product-button">
                                            <a href="#" class="btn btn-primary">Go</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-4">
                        <div class="card product-card">
                            <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Silla</h5>
                                <p class="card-text">Silla fachera de madera con tornillos de
                                    plasticos reutilizados de embases de manaos.</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col product-price">
                                            <h3>$19.99</h3>
                                        </div>
                                        <div class="col product-button">
                                            <a href="#" class="btn btn-primary">Go</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-4">
                        <div class="card product-card">
                            <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Silla</h5>
                                <p class="card-text">Silla fachera de madera con tornillos de
                                    plasticos reutilizados de embases de manaos.</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col product-price">
                                            <h3>$19.99</h3>
                                        </div>
                                        <div class="col product-button">
                                            <a href="#" class="btn btn-primary">Go</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-4">
                        <div class="card product-card">
                            <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Silla</h5>
                                <p class="card-text">Silla fachera de madera con tornillos de
                                    plasticos reutilizados de embases de manaos.</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col product-price">
                                            <h3>$19.99</h3>
                                        </div>
                                        <div class="col product-button">
                                            <a href="#" class="btn btn-primary">Go</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-4">
                        <div class="card product-card">
                            <img src="/img/chair.svg" class="card-img-top img-fluid product-img-size" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Silla</h5>
                                <p class="card-text">Silla fachera de madera con tornillos de
                                    plasticos reutilizados de embases de manaos.</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col product-price">
                                            <h3>$19.99</h3>
                                        </div>
                                        <div class="col product-button">
                                            <a href="#" class="btn btn-primary">Go</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>