<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {tittle: tittle} ); %>
    <link rel="stylesheet" href="/css/contact/contact-styles.css">
</head>
<body>
    <header>
        <%- include('../partials/navigation'); %>
    </header>

    <main>
        <div class="contact">
            <div class="contact-tittle">
                <h1>Contactanos</h1>
                <p>Todo lo que quieras consultanos, aqui nuestros contactos</p>
            </div>
            <div class="contact-row">
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14173.651953095818!2d-55.90245370132441!3d-27.36281479010839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9457be3ba5d3ac89%3A0xe8b69c368d0dfee5!2sD%20%26%20D%20Muebles!5e0!3m2!1ses-419!2sar!4v1662681294343!5m2!1ses-419!2sar" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="form">
                    <form action="">
                        <div class="form-contact">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="form-contact">
                            <label for="subject">Asunto</label>
                            <input type="text" name="subject" id="subject">
                        </div class="form-contact">
                        <div class="form-contact">
                            <label for="description">Descripcion</label>
                            <textarea name="description" id="" cols="30" rows="8" ></textarea>
                        </div>
                        <div class="check-copyMe">
                            <input type="checkbox" name="copyMe" id="copyMe" value="1">
                            <label for="copyMe">Enviarme una copia</label>
                        </div>
                        <div class="btn-submit">
                            <button type="submit" class="button-blue-xl">Enviar
                                <i class="fa-solid fa-user-headset"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="social">
                    <div class="icon-size">
                        <a href="">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                    <div class="icon-size">
                        <a href="">
                            <i class="fa-brands fa-facebook-messenger"></i>
                        </a>
                    </div>
                    <div class="icon-size">
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="icon-size">
                        <a href="">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                    <div class="icon-size">
                        <a href="">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="icon-size">
                        <a href="">
                            <i class="fa-solid fa-phone"></i>
                        </a>
                    </div>
                    <div class="icon-size">
                        <a href="">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>