/* INICIO ESTILOS GENERALES */

/* VAR GENERALES PARA TITULOS Y TEXTOS DEL PROYECTO*/
:root {
    --font-size-title: 1.5rem;
    --font-size-txt: 1rem;
}

* {
    font-family: nunito;
}

.bgmain {
    background-color: aliceblue;
}

/* FIN ESTILOS GENERALES */

/* INICIO ESTILOS HOME */

.home-room-img {
    width: 100%;
    height: 85%;
    display: block;
}

.home-room-img {
    transition: 1s;
}

.home-room-img:hover, .home-room-img:active {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.home-login-popup {
    margin-left: -175px;
}

/* FIN ESTILOS HOME */

/* INICIO ESTILOS PRODUCTOS */

.product-card {
    width: 17rem;
}

.product-img {
    width: 50%;
}

.product-img-size {
    width: 100%;
    height: 200px;
    display: block;
    margin: 5% auto 5% auto;
}

.product-price {
    align-self: center;
}

.product-price > h3 {
    margin-bottom: 0px;
}

.product-button {
    text-align: center;
}

/* FIN ESTILOS PRODUCTOS */

/* INICIO ESTILOS DETALLE PRODUCTOS */

.product-img-mini-gallery {
    width: 100%;
    height: 30px;
    margin: 5% auto 5% auto;
}

.card-pers {
    border: solid 2px lightgray;
    height: auto;
    width: 100%;
}

.mini-gallery {
    justify-content: center;
}

.font-title {
    font-weight: bold;
    font-size: var(--font-size-title);
    text-align: center;
}

.font-txt {
    font-weight: bold;
    font-size: var(--font-size-txt);
    text-align: center;
}

/* FIN ESTILOS DETALLE PRODUCTOS*/

/* INICIO ESTILOS CONTACTO */



/* FIN ESTILO CONTACTO */

/* INICIO ESTILO NOSOTROS */

.aboutus-img {
    width: 20%;
    height: 200px;
    display: block;
    margin: 5% auto 5% auto;
}

.search-bar {
    margin-top: 10px;
}

/* FIN ESTILO NOSOTROS */


/* INICIO ESTILO CARRITO */



/* FIN ESTILO CARRITO */


/* INICIO ESTILO REGISTRO */



/* FIN ESTILO REGISTRO */

/* FIN ESTILOS GENERALES */

/* INICIO MEDIA QUERYS */

/* INICIO MEDIA QUERY HOME */

@media (max-width: 990px) {
    
    .home-login-popup {
        margin-left: 0px;
    }

}

/* FIN MEDIA QUERY HOME */


/* FIN MEDIA QUERYS */