/* INICIO ESTILOS GENERALES */

/* VAR GENERALES PARA TITULOS Y TEXTOS DEL PROYECTO*/
:root {
    --font-size-title: 1.5rem;
    --font-size-txt: 1rem;
}

* {
  font-family: nunito;
}

.bgmain {
  background-color: aliceblue;
}

/* FIN ESTILOS GENERALES */
