<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/dhlogo.svg" alt="" width="120" height="100">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <form class="d-flex mx-auto search-bar">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>
      <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarScrollingDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/products/roomProducts/cocina">Cocina</a></li>
            <li><a class="dropdown-item" href="/products/roomProducts/comedor">Comedor</a></li>
            <li><a class="dropdown-item" href="/products/roomProducts/dormitorio">Dormitorio</a></li>
            <li><a class="dropdown-item" href="/products/roomProducts/living">Living</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/products/roomProducts/exterior">Exterior</a></li>
            <li><a class="dropdown-item" href="/products/roomProducts/oficina">Oficina</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">¿Quienes Somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contacto</a>
        </li>
      </ul>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
          <a href="/cart/detailCart"  class="btn btn-outline-primary">
            <i class="fa-solid fa-cart-arrow-down"></i>
          </a>
          <a href="/user/register" class="btn btn-outline-primary dropdown-toggle" id="navbarScrollingDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <div class="dropdown-menu <%= locals.isLogged ? 'home-logged-popup' : 'home-login-popup' %>  " aria-labelledby="navbarScrollingDropdown2">
            <% if (locals.isLogged) { %>
              <%- include('userLogged'); %>
            <% } else { %>
              <%- include('userNotLogged'); %>
            <% } %>
          </div>
      </div>
    </div>
  </div>
</nav>