<a class="dropdown-item" href="/user/profile">Mi perfil</a>
<% if (locals.userLogged.role == 'admin') { %>
    <a class="dropdown-item" href="/admin/">Ingresar como Admin</a>
<% } %>
<a class="dropdown-item" href="/user/logout">Desconectar</a>
