
<a class="dropdown-item" href="/user/login">Logeate!</a>
<a class="dropdown-item" href="/user/register">Nuevo? Registrate!</a>
<a class="dropdown-item" href="/user/recover">Olvidaste tu contraseña?</a>