<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {tittle: tittle} ); %>
    <link rel="stylesheet" href="/css/home/home-styles.css">
</head>
<body>
    <header>
        <%- include('../partials/navigation'); %>
    </header>

    <div class="home bgmain">
        <div class="container-fluid p-4">
            <div class="row rooms-row px-4">
                <div class="col-sm-4 mx-auto">
                    <a href="/products">
                        <img src="./img/cocina.jpg" class="home-room-img img-fluid" alt="...">
                    </a>
                </div>
                <div class="col-sm-4 mx-auto">
                    <a href="/products">
                        <img src="./img/comedor.jpg" class="home-room-img img-fluid" alt="...">
                    </a>
                </div>
                <div class="col-sm-4 mx-auto">
                    <a href="/products">
                        <img src="./img/dormitorio.jpg" class="home-room-img img-fluid" alt="...">
                    </a>
                </div>
            </div>
            <div class="row rooms-row px-4">
                <div class="col-sm-4 mx-auto">
                    <a href="/products">
                        <img src="./img/exterior.jpg" class="home-room-img img-fluid" alt="...">
                    </a>
                </div>
                <div class="col-sm-4 mx-auto">
                    <a href="/products">
                        <img src="./img/living.jpg" class="home-room-img img-fluid" alt="...">
                    </a>
                </div>
                <div class="col-sm-4 mx-auto">
                    <a href="/products">
                        <img src="./img/oficina.jpg" class="home-room-img img-fluid" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
