<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {tittle: tittle} ); %>
    <link rel="stylesheet" href="/css/home/home-styles.css">
</head>
<body>
    <header>
        <%- include('../partials/navigation'); %>
    </header>

    <main>
        <div class="home">
            <article>
                <div class="home-room">
                    <a href="/products/roomProducts/cocina">
                        <img src="./img/cocina.jpg" alt="Cocina" class="home-room-img">
                    </a>
                </div>
            </article>
            <article>
                <div class="home-room">
                    <a href="/products/roomProducts/comedor">
                        <img src="./img/comedor.jpg" alt="Comedor" class="home-room-img">
                    </a>
                </div>
            </article>
            <article>
                <div class="home-room">
                    <a href="/products/roomProducts/dormitorio">
                        <img src="./img/dormitorio.jpg" alt="Dormitorio" class="home-room-img">
                    </a>
                </div>
            </article>
            <article>
                <div class="home-room">
                    <a href="/products/roomProducts/exterior">
                        <img src="./img/exterior.jpg" alt="Exterior" class="home-room-img">
                    </a>
                </div>
            </article>
            <article>
                <div class="home-room">
                    <a href="/products/roomProducts/living">
                        <img src="./img/living.jpg" alt="Living" class="home-room-img">
                    </a>
                </div>
            </article>
            <article>
                <div class="home-room">
                    <a href="/products/roomProducts/oficina">
                        <img src="./img/oficina.jpg" alt="Oficina" class="home-room-img">
                    </a>
                </div>
            </article>
        </div>
    </main>
    
</body>
</html>
