<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {tittle: tittle} ); %>
        <link rel="stylesheet" href="/css/cart/cart-styles.css">
        <script src="/js/cart/cart-func.js"></script>
    </head>
    <body>
        <header>
            <%- include('../partials/navigation'); %>
        </header>

        <main class="mainCart">
            <article>
                <div class="products-list">
                    <div class="product">

                    </div>
                </div>
                <div class="buy-details">

                </div>
            </article>
        </main>

    </body>
</html>