<div class="options-products">
    <h3>Variables</h3>
    <form action="">
        <div class="opt-prod-check">
            <h5 class="opt-prod-check-ttl">Madera</h5>
            <div>
                <input type="radio" name="typeMadera" id="maderaFenolico"
                value="maderaFenolico">
                <label for="maderaFenolico">
                    Fenolico
                </label>
            </div>
            <div>
                <input type="radio" name="typeMadera" id="maderaPino"
                value="maderaPino">
                <label for="maderaPino">
                    Pino
                </label>
            </div>
            <div>
                <input type="radio" name="typeMadera" id="maderaAlgarrobo"
                value="maderaAlgarrobo">
                <label for="maderaAlgarrobo">
                    Algarrobo
                </label>
            </div>
        </div>
        <div class="opt-prod-check">
            <h5 class="opt-prod-check-ttl">Tela</h5>
            <div>
                <input type="checkbox" id="telaCuero">
                <label  for="telaCuero">
                    Cuero
                </label>
            </div>
            <div>
                <input type="checkbox" id="telaEcoCuero">
                <label  for="telaEcoCuero">
                    Eco Cuero
                </label>
            </div>
            <div>
                <input type="checkbox" id="telaLana">
                <label  for="telaLana">
                    Lana
                </label>
            </div>
        </div>
        <div class="btn-apply">
            <input class="opt-prod-btn" type="submit" value="Aplicar">
        </div>
    </form>
</div>