
.main {
    height: 100%;
}

.top-main {
    background-color: lightblue;
    width           : 100%;
    height          : 100px;
}

.tittle-top {
    align-self: center;
}

.mid-main {
    display         : flex;
    flex-direction  : row;
    width           : 100%;
    background-color: rgb(122, 167, 206);
}

.left-main {
    background-color: rgb(122, 167, 206);
    width           : 300px;
    height          : 100%;
}

.right-main {
    background-color: whitesmoke;
    width           : 100%;
    height          : 100%;
    padding         : 20px;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
}

.options-right {
    display         : flex;
    justify-content : center;
    visibility      : collapse;
    margin-bottom   : 20px;
}

.bottom-main {
    background-color: lightblue;
    height          : 30px;
    width           : 100%;
    position        : fixed;
    bottom          : 0;
    text-align      : center;
    font-size       : 10px;
}

.top-main-in {
    display         : flex;
    flex-direction  : row;
    width           : 100%;
    height          : 100%;
    padding         : 25px;
    justify-content : space-between;
}

.logout-top-main {
    align-self: center;
}

.exitbtn {
    font-size   : 30px;
    color       : black;
}

.img-logo-admin {
    width: 50px;
    height: auto;
}

.ullia {
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

/* MEDIA QUERYS */

@media (max-width: 550px) {
    .left-main {
        position    : absolute;
        visibility  : collapse;
    }

    .options-right {
        visibility: visible;
    }
}